USE [master]
GO
/****** Object:  Database [proyectopoo]    Script Date: 10/09/2024 21:51:37 ******/
CREATE DATABASE [proyectopoo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'proyectopoo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\proyectopoo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'proyectopoo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\proyectopoo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [proyectopoo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [proyectopoo]
GO
/****** Object:  Table [dbo].[HABITACION]    Script Date: 10/09/2024 21:51:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HABITACION](
	[ID_HABITACION] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](20) NOT NULL,
	[PRECIONOCHE] [money] NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[CAPACIDAD] [int] NULL,
	[SERVICIOSEXTRA] [text] NULL,
	[ID_HOTEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HABITACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOTEL]    Script Date: 10/09/2024 21:51:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOTEL](
	[ID_HOTEL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DIRECCION] [varchar](50) NOT NULL,
	[CIUDAD] [varchar](30) NOT NULL,
	[PAIS] [varchar](30) NOT NULL,
	[NUMHABITACIONES] [int] NOT NULL,
	[DESCRIPCION] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HOTEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 10/09/2024 21:51:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[ID_PAGO] [int] IDENTITY(1,1) NOT NULL,
	[MONTO] [money] NOT NULL,
	[FECHAPAGO] [date] NOT NULL,
	[METODOPAGO] [varchar](20) NOT NULL,
	[ESTADOPAGO] [varchar](20) NOT NULL,
	[ID_RESERVA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVA]    Script Date: 10/09/2024 21:51:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVA](
	[ID_RESERVA] [int] IDENTITY(1,1) NOT NULL,
	[FECHACONSULTA] [date] NOT NULL,
	[FECHARESERVADA] [date] NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[ID_USUARIO] [int] NULL,
	[ID_HABITACION] [int] NULL,
	[ID_HOTEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RESERVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 10/09/2024 21:51:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRECOMPLETO] [varchar](50) NOT NULL,
	[CORREO] [varchar](50) NOT NULL,
	[CONTRASEÑA] [varchar](50) NOT NULL,
	[TELEFONO] [int] NOT NULL,
	[DIRECCION] [varchar](50) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[ROL] [varchar](20) NOT NULL,
	[ID_HOTEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIO__3B11DA463704429E]    Script Date: 10/09/2024 21:51:38 ******/
ALTER TABLE [dbo].[USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[CONTRASEÑA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (getdate()) FOR [FECHAREGISTRO]
GO
ALTER TABLE [dbo].[HABITACION]  WITH CHECK ADD FOREIGN KEY([ID_HOTEL])
REFERENCES [dbo].[HOTEL] ([ID_HOTEL])
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD FOREIGN KEY([ID_RESERVA])
REFERENCES [dbo].[RESERVA] ([ID_RESERVA])
GO
ALTER TABLE [dbo].[RESERVA]  WITH CHECK ADD FOREIGN KEY([ID_HABITACION])
REFERENCES [dbo].[HABITACION] ([ID_HABITACION])
GO
ALTER TABLE [dbo].[RESERVA]  WITH CHECK ADD FOREIGN KEY([ID_HOTEL])
REFERENCES [dbo].[HOTEL] ([ID_HOTEL])
GO
ALTER TABLE [dbo].[RESERVA]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([ID_HOTEL])
REFERENCES [dbo].[HOTEL] ([ID_HOTEL])
GO
ALTER TABLE [dbo].[HABITACION]  WITH CHECK ADD CHECK  (([ESTADO]='ocupada' OR [ESTADO]='reservada' OR [ESTADO]='disponible'))
GO
ALTER TABLE [dbo].[HABITACION]  WITH CHECK ADD CHECK  (([TIPO]='suite' OR [TIPO]='doble' OR [TIPO]='individual'))
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD CHECK  (([ESTADOPAGO]='cancelado' OR [ESTADOPAGO]='reembolsado' OR [ESTADOPAGO]='fallido' OR [ESTADOPAGO]='completado' OR [ESTADOPAGO]='pendiente'))
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD CHECK  (([METODOPAGO]='efectivo' OR [METODOPAGO]='tarjeta'))
GO
ALTER TABLE [dbo].[RESERVA]  WITH CHECK ADD CHECK  (([ESTADO]='completada' OR [ESTADO]='cancelada' OR [ESTADO]='confirmada'))
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD CHECK  (([ROL]='admin' OR [ROL]='cliente'))
GO
USE [master]
GO
